<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles.css">
    <title>Examen</title>
</head>
<body>

<div class="container">
    <h2>Examen</h2>

    <form id="formExamen">
        <label>1. ¿Cuáles son los lenguajes más utilizados?</label>
        <textarea required></textarea>

        <label>2. ¿Qué es hardware?</label>
        <textarea required></textarea>

        <label>3. ¿Qué es HTML?</label>
        <textarea required></textarea>

        <label>4. Significado de CPU:</label>
        <textarea required></textarea>

        <label>5. ¿Es un sistema operativo?</label>
        <textarea required></textarea>

        <button type="submit">Enviar Examen</button>
    </form>

    <button onclick="location.href='../index.html'">Volver al inicio</button>
</div>

<footer>Página diseñada por Daysi Britos - 2025</footer>

<script src="../js/examen.js"></script>
</body>
</html>
