body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #b337ff, #6a00b3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR CENTRAL */
.container {
    background: white;
    width: 420px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    animation: fadeIn 0.8s ease-in-out;
    text-align: center;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to   {opacity: 1; transform: translateY(0);}
}

h1, h2 {
    color: #6a00b3;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #6a00b3;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #b337ff;
    transform: scale(1.05);
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 2px solid #b337ff;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    color: #6a00b3;
    font-size: 14px;
    font-weight: bold;
}
